# Development mode settings
DEBUG=true

# Production settings
AUTH_URL=https://your-auth-url.com

# Database settings
DATABASE_URL=postgresql+psycopg://user:password@db/dbname
LOCAL_DB_PATH=sqlite:///./dev.db